.hero-business-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-business {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  margin-bottom: 32px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero-business-text {
  width: 40%;
}

.hero-business h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-business h2 {
  text-align: left;
}

.hero-business p {
  text-align: left;
}

.hero-business p:first-of-type {
  font-size: 28px;
}

.hero-business p:nth-of-type(3) {
  font: 400 18px / 25.2px attAleckSans, "Helvetica Neue", helvetica, arial, sans-serif !important;
  color: var(--baem-text-body, #454b52);
}

.hero-business picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-business img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-business {
    padding: 40px 32px;
  }
}