.hero-business-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-business {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  margin-bottom: 32px;
  border-radius: 16px;
  overflow: hidden;
}

.hero-business-text {
  max-width: 616px;
}

.hero-business h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-business picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-business img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-business {
    padding: 40px 32px;
  }
}