/*
 * AT&T Business Font System
 *
 * AT&T AleckSans font family loaded from local files
 */

/* attAleckSans Light */
@font-face {
  font-family: attAleckSans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/ATTAleckSans_W_Lt.woff2') format('woff2');
}

/* attAleckSans Regular */
@font-face {
  font-family: attAleckSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ATTAleckSans_W_Rg.woff2') format('woff2');
}

/* attAleckSans Medium */
@font-face {
  font-family: attAleckSans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/ATTAleckSans_W_Md.woff2') format('woff2');
}

/* attAleckSans Bold */
@font-face {
  font-family: attAleckSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/ATTAleckSans_W_Bd.woff2') format('woff2');
}
